body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    border-radius: 8px;
}

nav {
    background-color: #007bff;
    padding: 10px 0;
    text-align: center;
    border-bottom: 4px solid #0056b3;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #ffeb3b;
}

/* Estilo da lista de produtos */
h1 {
    color: #007bff;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a {
    color: #007bff;
    text-decoration: none;
    margin-left: 15px;
}

ul li a:hover {
    text-decoration: underline;
}

ul li span {
    font-size: 18px;
    font-weight: bold;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
